.projects-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;

    th,
    td {
        border: 1px solid var(--border-color);
        padding: var(--spacing-s);
    }

    tr:nth-child(even) {
        background-color: var(--table-background);
    }
}
