.projects-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;

    th,
    td {
        border: 1px solid var(--border-color);
        padding: var(--spacing-s);
    }

    tr:nth-child(even) {
        background-color: var(--table-background);
    }
}

.delete-project-dialog {
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: var(--spacing-xl);
}

.delete-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-s);
}

.page-links-list {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
}

.pagination-meta,
.pagination-controls {
    display: flex;
    align-items: center;
    gap: var(--spacing-m);
}

.page-links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-link button {
    padding: 0;
    font-weight: normal;
    font-size: 1rem;

    &.active {
        font-weight: bold;
        color: var(--page-link-color);
    }

    &.disabled {
        color: rgba(from var(--text-color) r g b / 0.5);
        pointer-events: none;
    }
}

button.pageLink {
    padding: 0;

    &.disabled {
        color: rgba(from var(--text-color) r g b / 0.5);
        pointer-events: none;
    }
}
