@import "modern-normalize/modern-normalize.css";

:where(:root) {
    color-scheme: light dark;
    --spacing-xs: 0.25rem;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 3rem;

    --background-color: light-dark(#f9f9f9, #1a1a1a);
    --card-background: light-dark(#ffffff, #2b2b2b);
    --border-color: #ddd;
    --text-color: light-dark(#1a1a1a, #f9f9f9);
    --table-background: light-dark(#f2f2f2, #1a1a1a);
    --button-background: light-dark(darkseagreen, #04002f);
    --button-active-background: tomato;
    --button-background-danger: red;
    --button-color-danger: #ffffff;
    --timer-running-color: green;
    --input-background: light-dark(#ffffff, #2b2b2b);

    --page-link-color: dodgerblue;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-background);
    border: none;
    border-radius: 3px;
    padding: var(--spacing-s);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;

    &.small {
        font-size: 1rem;
        padding: var(--spacing-xs) var(--spacing-s);
    }

    &.active {
        background-color: var(--button-active-background);
    }

    &.danger {
        background-color: var(--button-background-danger);
        color: var(--button-color-danger);
    }

    &.secondary {
        background-color: transparent;
        color: var(--text-color);
    }
}

input {
    background-color: var(--input-background);
    border: 1px solid var(--border-color);
    padding: var(--spacing-s);
    border-radius: 3px;
    color: var(--text-color);
}

.site-title {
    font-size: 2.5rem;
    background-image: linear-gradient(
        90deg in hsl longer hue,
        purple,
        orange,
        tomato,
        dodgerblue
    );
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.center-text {
    text-align: center;
}

.container {
    padding-inline: 12rem;
}

.overview-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--spacing-m);
    align-items: flex-start;
    margin-bottom: var(--spacing-l);
}

.card {
    background-color: var(--card-background);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: var(--spacing-m);
}
